@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding : 0 ;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,600;1,700&display=swap');



:root {
  /* colors */
  --body-color:#E4E9F7;
  --side-bar-color:#FFF;
  --primary-color:rgb(68, 137, 217);
  --primary-color-light:#F6F5FF;
  --primary-color-light2:#8d84d9;
  --text-color:#707070;
  --boxshadow:rgba(31, 32, 34, 0.3) 0px 1px 2px 0px ,
  rgba(48, 49, 50, 0.15) 0px 1px 13px 1px;

  /*New colors for this current project*/

  --base-color : #42A0ED;
  --second-color : #1AE3EE;
  
  
}

/*HEADER LOGIN DESIGN*/

.logo  {
  width: 30px;
  height: 30px;
}

.logo img  {
  width: 100%;
  height: 100%;
}

.schools-administrated {
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 12px;

}

.schools-administrated:hover {
  opacity: 50;
  cursor: pointer;

}

.schools-administrated .status {
  font-size: 13px;
  color: green;
  background-color:#c2fbd7;
  height: fit-content;
  padding: 4px;
  border-radius: 5px;
}

.school {
  gap: 10px;
}
/* .school .letter-image {
  
  width: 60px;
  padding-top: 15px;
  background-color: var(--body-color);
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 20px;
} */

.school .school-general-info{
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 2px;
}

.school .school-general-info .students-teachers{
 
  padding-bottom: 10px;
  gap: 10px;
  
}

.school .school-general-info .students-teachers{
  margin-top: 5px;
  padding-bottom: 10px;
  gap: 3px;
  font-size: 10px;
  padding-right: 20px;
  
}

.schools-list p  {
  margin-bottom: 20px;
  text-align: center;
}

.schools-list .title  {
  padding-bottom: 20px;
}

.students , .classroom  {
  gap: 3px;
}
.dot-separation  {
  font-size: 3px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.school .school-general-info .students-teachers > div{

  padding-right: 5px;
  
}
.action  {
  margin-top: 30px;
  width: 391px;
  margin-left: 30px;
}
/* 
.action button  {
  color: var(--text-color);
  background-color: var(--body-color);
  width: 100%;
} */

/* .action button:hover {
  background-color: var(--base-color);
  color: white;
} */

.app-name span  {
  letter-spacing: 0.2rem;
}

.gone {
  color: rgb(189, 107, 107);
}

.added {
  color: rgb(103, 103, 181);
}
.icon-stats > div {
  margin-top: 10px;

}

.chart {
  width: 225px;
}
/* 
tr {
  color: red;
} */

/* .communique tr  {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  color: var(--text-color);
  font-weight: lighter;
  
} */


.own-styled {
  border: none;
  outline: none;
  background-color: var(--base-color);
  color: white;
  padding: 3px;
  width: 200px;
  border-radius:50px;
}

.title-com  {
  background-color: #eaf1fb;
}

.send-com-button {
  background-color: var(--base-color);
  color: white;
  outline: none;
  border-radius: 50px;
  width:20%;
}

.link {
  /* background-color: rgba(173, 216, 230, 0.5); */
  background-color: white;
  color: gray;
  padding: 5px;
  
 
}

/* .selectedClassRoom {
  color: red;
  background-color: greenyellow;
} */

.selectedClassRoom > div {
  font-weight: 500;
  border-left: 4px solid var(--base-color) ;
 
}


.tab {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s, color 0.3s;
  gap: 4px;
}

.tab-label {
  margin-left: 0.5rem;
}

.icon {
  font-size: 0.5rem; 
}

.classroom-info {
  font-size: x-small;
}

/* Scroll Bars */



/* Custom Scrollbar */
.fixed-size-classrooms-list {
  max-height: 400px; /* Adjust height as needed */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* custom-scheduler-styles.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.saving-spinner {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* custom-scheduler-styles.css */

.scheduler-container {
  margin: 48px 20px;
}

.scheduler-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.scheduler-header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.scheduler-header button:hover {
  background-color: #0056b3;
}





iframe#webpack-dev-server-client-overlay{display:none!important}

